version: "3.9"

services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: ais-relay-app
    restart: unless-stopped

    # volumes:
    #   - ./app/database:/app/database

    environment:
      AIS_USER: ${AIS_USER}
      AIS_USER_PASSWORD: ${AIS_USER_PASSWORD}
      AIS_SERVER_HOST: ${AIS_SERVER_HOST}
      AIS_SERVER_PORT: ${AIS_SERVER_PORT}
      DATABASE_URL: ${DATABASE_URL}
      LOGGER_FILE: ${LOGGER_FILE}
      WEB_USERNAME: ${WEB_USERNAME}
      WEB_PASSWORD: ${WEB_PASSWORD}
      TCP_USERNAME: ${TCP_USERNAME}
      TCP_PASSWORD: ${TCP_PASSWORD}
      LIM_LAT: ${LIM_LAT}
      LIM_LON: ${LIM_LON}

    networks:
      - ais-net

    ports:
      - "5000:5000"
      - "8000:8000"

  nginx:
    image: nginx:latest
    container_name: ais-relay-nginx
    restart: unless-stopped
    depends_on:
      - app
    networks:
      - ais-net

networks:
  ais-net:
    driver: bridge
