[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.125.0"
uvicorn = "==0.38.0"
websockets = "==15.0.1"
pyais = "==2.14.0"
python-dotenv = "==1.2.1"

[dev-packages]

[requires]
python_version = "3.11"
